<li class="nav-list"> <a href="" class="dropdown" data-toggle="dropdown">Categories
  <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="/user_page">Favourites</a></li>
  <li class="divider"></li>
  <li><a href="/entertainment">Entertainment</a></li>
  <li><a href="social">Social</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</li>
