<div class="btn-group">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    categories
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/user_page">Favourites</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/entertainment">Entertainment</a>
    <a class="dropdown-item" href="social">Social</a>
    <a class="dropdown-item" href="/work">Work</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
