<nav>
  <ul class="main-nav">
  <li class="nav-list"><a href="/" class="nav-home">PasswordKeepR</a></li>
  <li class="nav-list"><a href="/user_page" class="nav-login">Login</a></li>
  <li class="nav-list"><a href="/register" class="nav-register">Register</a></li>
      <li class="push"> <a href="" class="dropdown" data-toggle="dropdown">Catagories
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Favourites</a></li>
         <li class="divider"></li>
         <li><a href="#">Entertainment</a></li>
         <li><a href="#">Social</a></li>
         <li><a href="#">Work</a></li>
       </ul>
       </li>
 </nav>
 <header>
   <h1>PasswordKeepR</h1>
 </header>
