<nav>
  <ul class="main-nav">
    <li><a href="/user_page" class="nav-home">My Pages</a></li>
    <li><a href="/create" class="nav-home">Add Website</a></li>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="float:right"></div>
    <% if (userID) {%>
      <form method="POST" action="/logout" class="push">
        <span>logged in as: <%= user && user.email %></span>
        <button class="nav-logout" type="submit" value="Submit">Logout</button>
      </form>
      <% } else {%>
        <div class="push"></div>
        <li><a href="/login" class="nav-home">login</a></li>
        <li><a href="/register" class="nav-home">Register</a></li>
        </div>
        </div>
        <% } %>
  </ul>
</nav>
