.main-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #dbecf4;
  margin-bottom: 0;
  }

  .nav-home {
   padding: 10px;
   color: rgba(0, 0, 0, 0.559);
  }

  .nav-login {
   padding: 10px;
  }

  .nav-register {
   padding: 10px;
  }

  .push {
   margin-left: auto;
   padding-right: 10px;
  }

  header {
   border-top: solid #194569;
  border-bottom: solid #194569;
   height: 200px;
   width: 100vw;
   background-color: #91aec4;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
  }

  .nav-logout {
    border: none;
    background-color: #dbecf4;
    color: black;
  }

  .nav-home:hover {
    color: black;
    text-decoration: none;
  }

  .nav-logout:hover {
    color: green;
  }


