.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
 }

 .homepage-button {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 p {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 500px;
 }

 .btn-1 {
 width: 200px;
 height: 50px;
 font-size: 24px;
 }

 footer {
  margin-top: 10rem;
 }

 .btn {
  margin: 1rem;
  color: black;
  background-color: #5f84a2;
  border: none;
 }

 .btn:hover {
  background-color: #194569;
 }
