.login-form {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 h2 {
  padding-top: 4rem;
  text-align: center;
 }

 .login-block {
  padding-top: 1rem;
 }

 .btn {
  margin: 1rem;
  color: black;
  background-color: #5f84a2;
  border: none;
 }

 .btn:hover {
  background-color: #194569;
 }
