.favourties {
  padding-top: 4rem;
  text-align: center;
 }

 .site-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
 }

 .website-name {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
 }

 .site-group {
  /* font-size: 20px; */
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
 }


.website-container {
display:inline-block;
display: flex;
flex-direction: row;
justify-content: center;
}

.website-content {
  display: flex;
  flex: 1 0 22%;
  flex-direction: column;
  margin-left: 5rem;
  grid-auto-rows: 10px;
}

.website-btn {
  padding-left: 1rem;
}

 .nav-logout,  .nav-logout:hover,  .nav-logout:focus,  .nav-logout:active {
  text-decoration: none;
  color: inherit;
}

.add-website {
  padding-left: 2rem;
display: flex;
flex-direction: column;
align-items: center;
}

.add-btn {
margin-top: 2rem;
width: 200px;
height: 50px;
font-size: 24px;
}

.top-row {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hiddenPassword {
  text-align: center;
}


