.register-form {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 h2 {
  padding-top: 4rem;
  text-align: center;
 }

 .register-block {
  padding-top: 1rem;
 }

 .btn {
  margin: 1rem;
 }
