h2 {
  padding-top: 4rem;
  text-align: center;
 }

 .site-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
 }

 .website {
  padding-left: 1rem;
 }

 .nav-logout,  .nav-logout:hover,  .nav-logout:focus,  .nav-logout:active {
  text-decoration: none;
  color: inherit;
}

.add-website {
margin-top: 5rem;
display: flex;
flex-direction: column;
align-items: center;
}

.add-btn {
margin-top: 2rem;
width: 200px;
height: 50px;
font-size: 24px;
}
